
body{
	font-family: 'Microsoft Yahei';
	font-size: 12px;
	color: #666;
}

.head_con{
	height:29px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
}

.welcome{
	font-size: 12px;
	height: 29px;
	line-height: 29px;
	margin-left: 170px;
	color: #666;
}

.user_info{
	
	margin-right: 170px;
}

.login_link,.user_shopping,.user_welcome{
	height: 29px;
	line-height: 29px;
	color: #666;

}

.user_info a{
	color: #666;
}

.user_info span{
	height: 29px;
	line-height: 29px;
	color: #666;
	margin: 0 20px;
}
/*.login_link{
	display: none;
}*/
.user_welcome{
	display: none;
}
.user_info em{
	color: #f80;
}
.user_info a:hover{
	color: #f80;
}





.logo_bar{
	width: 1200px;
	height: 115px;
	margin:0 auto;
}

.logo_bar a{
	float: left;
	margin-top: 30px;
}

.logo_bar .search{
	width: 616px;
	height: 38px;
	border:1px solid #37ab40;
	margin-top: 34px;
	margin-left: 122px;
	background: url(../images/icons.png) 8px 9px no-repeat;
}

.search .input_text{
	width: 480px;
	height: 38px;
	border:0;
	outline: none;
	margin-left: 37px;
}

/*.search a{
	margin-top: 0;
	float: right;
	width: 98px;
	height: 38px;
	background-color: green;
	font-size: 14px;
	text-align: center;
	line-height: 38px;
	color: #fff;
}*/

.search_submit{
	float: right;
	width: 98px;
	height: 38px;
	background-color: #37ab40;
	font-size: 14px;
	text-align: center;
	line-height: 38px;
	border: none;
}







/*购物车*/
.chart{
	width: 200px;
	height: 40px;
	margin-top: 34px;
}

.chart a{
	float:left;
	margin-top: 0;
	width: 158px;
	height: 40px;
	line-height: 40px;
	text-indent:58px;
	font-size: 14px;
	color: #37ab40;
	background: url(../images/icons.png) 16px -42px no-repeat #f7f7f7;
}

.chart_count{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #f80;
	font-size: 18px;
	color: #fff;

}




/*mainmenu*/
.main_menu_con{
	height: 40px;
	border-bottom: 2px solid #37ab40;
}

.main_menu{
	height: 40px;
	width: 1200px;
	margin:0 auto;
}

.main_menu h1{
	width: 200px;
	height: 40px;
	background-color: #37ab40;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}

.main_menu a{
	margin: 0 26px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}

.main_menu span{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}




/*主菜单*/
.submenu_con{
	height: 270px;
	width: 1200px;
	
	margin: 0 auto;
}

.submenu_left{
	height: 269px;
	width: 200px;
	overflow: hidden;
}

.submenu_left li{
	display: block;
	width: 198px;
	height: 44px;
	border: 1px solid #eee;
	background: url(../images/icons.png) 168px -385px no-repeat;
}

.submenu_left li a{
	display: inline-block;
	height:44px;
	width: 198px;
	line-height: 44px;
	text-align: center;
	color: #333;
	font-size: 14px;
	background: url(../images/icons.png) 8px 9px no-repeat;
}


.submenu_left li .fruit{
	background-position: 22px -91px;
}

.submenu_left li .seafood{
	background-position: 19px -137px;
}

.submenu_left li .meat{
	background-position: 19px -188px;
}

.submenu_left li .egg{
	background-position: 23px -239px;
}

.submenu_left li .vegetable{
	background-position: 23px -289px;
}

.submenu_left li .frozed{
	background-position: 23px -339px;
}



.slide_con{
	width: 760px;
	height: 270px;
	position: relative;
}

.left_arrow,.right_arrow{
	position: absolute;
	height: 23px;
	width: 15px;
	left: 10px;
	top: 117px;
	cursor: pointer;
	background: url(../images/icons.png) -1px -451px no-repeat;
}
.right_arrow{
	left:735px;
	background-position: 0px -500px;
}

.spot{
	position: absolute;
	width: 100%;
	height: 11px;
	left: 0;
	bottom: 9px;
	text-align: center;
	font-size: 0;
}

.spot li{
	display: inline-block;
	height: 11px;
	width: 11px;
	background-color:#9f9f9f;
	margin: 0 5px;
	border-radius: 50%;
}

.slide_con .active{
	background-color: #cecece;
}

.spot a{
	display: inline-block;
	height: 11px;
	width: 11px;
}

.adv{
	width: 240px;
	height: 270px;

}

/*解决图片下方出现的3像素空白的bug*/
.adv img{
	display: block;
}


/*通用商品列表块*/

.common_con{
	width: 1200px;
	height: 340px;
	margin: 18px auto 0;

}

.common_con .common_title{
	width: 1200px;
	height: 38px;
	border-bottom: 2px solid #42ad46;
}

.common_con .common_title h3{
	line-height: 38px;
	font-size: 16px;
	color:#37ab40;
	text-indent: 10px;
}

.common_con .common_title ul{
	height: 38px;
}

.common_con .common_title li a{
	line-height: 38px;
	font-size: 12px;
	color: #666;
	margin: 0 10px;
}

.common_con .common_title a:hover{
	color:#f80;
}

.common_con .common_title span{
	line-height: 38px;
	margin: 0 10px 0 30px;
}

.common_con .common_title .more{
	height: 38px;
	line-height: 38px;
	font-size: 12px;
	color: #666;

}

.common_list{
	width: 1200px;
	height: 300px;
}

.common_list .banner{
	float: left;
	height: 300px;
	width: 200px;
}

.common_list ul li{
	float: left;
	width: 249px;
	height: 299px;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.common_list ul li a h4{
	display: block;
	width: 249px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 14px;
	color:#666;
}

.common_list ul li a img{
	display: block;
	margin: 0 auto;
}

.common_list ul li a span{
	display: block;
	height: 78px;
	width: 249px;
	line-height: 78px;
	text-align: center;
	color:#c40000;
	font-size: 20px;
}

.common_list ul li:hover{
	width: 248px;
	height: 298px;
	border: 1px solid #f80;
}

/*页脚*/

.footer{
	height: 150px;
	border-top: 2px solid #4ab14e;
	margin-top: 30px;
}

.footer ul{
	height: 38px;
	margin-top: 28px;
	text-align: center;
}

.footer ul li{
	display: inline-block;
	text-align: center;
	margin: 0 5px;
	line-height: 38px;
}

.footer ul li a{
	color: #4e4e4e;
	font-size: 12px;
}

.footer ul li a:hover{
	color: #f80;
}

.footer p{
	margin-top:5px;
	height: 58px;
	line-height: 26px;
	text-align: center;
}



/*登陆页，主要练习表单*/

.login_header{
	height: 134px;
	width: 957px;
	margin: 0 auto;
}

.login_header a{
	float: left;
	margin-top: 27px;
}

.login_form_con{
	height: 482px;
	background-color:#518e17;
}

.login_form_con .login_form{
	height: 482px;
	width: 957px;
	margin:0 auto;
}
.login_form .banner_pic{
	float: left;
	margin-top: 88px;
}

.login_form .slogan{
	float: left;
	width: 30px;
	height: 318px;
	font:30px/30px 'Microsoft Yahei';
	color: #fff;
	text-align: center;
	margin: 98px 0 0 90px;
}

.login_form .login_form_group{
	width: 367px;
	height: 380px;
	border: 1px solid #c6c6c5;
	background-color: #fff;
	margin-top: 50px;
}

.login_footer{
	margin-top: 0;
	border-top: 0;
}