.whole_wrap{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: gold;
}

.header{
	height: 50px;
	background-color: green;
}

.center_wrap{
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 50px;
	background-color: cyan;
	overflow-x: hidden;
	overflow-y: auto;
}

.footer{
	position: absolute;
	height: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: red;
}

