.whole_wrap{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: gold;
}

.header{
	height: 2.5rem;
	background-color: #37ab40;
	position: relative;
}

.header img{
	display: block;
	width: 4.45rem;
	margin: 0.3rem auto 0;
}

.header .search{
	position: absolute;
	top: 0.55rem;
	right: 0.7rem;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../images/icons.png) 0 0 no-repeat;
	background-size: 3rem 42rem;
}



.center_wrap{
	position: absolute;
	left: 0;
	right: 0;
	top: 2.5rem;
	bottom: 2.5rem;
	background-color:#efefef;
	overflow-x: hidden;
	overflow-y: auto;
}

.slide{
	height: 7.0rem;
}
.slide img{
	width: 100%;
}

.menu{
	height: 9.25rem;
	margin-top: 0.7rem;
	background-color: #fff;
}

.menu ul{
	width: 16.3rem;
	height: 8.0rem;
	margin: 0.65rem 0 0 1.3rem;
}

.menu li{
	float: left;
	height: 3.9rem;
	width: 25%;
}

.menu li a{
	display: block;
	width: 3.0rem;
	height: 2.9rem;
	background: url(../images/icons.png) 0 -3.0rem no-repeat;
	background-size: 3rem 42rem;
}

.menu li:nth-child(2) a{
	background-position: 0 -6rem;
}
.menu li:nth-child(3) a{
	background-position: 0 -9rem;
}
.menu li:nth-child(4) a{
	background-position: 0 -12rem;
}
.menu li:nth-child(5) a{
	background-position: 0 -15rem;
}
.menu li:nth-child(6) a{
	background-position: 0 -18rem;
}
.menu li:nth-child(7) a{
	background-position: 0 -21rem;
}
.menu li:nth-child(8) a{
	background-position: 0 -24rem;
}


.menu li h2{
	width: 3.0rem;
	height: 1rem;
	font-size:12px;
	line-height: 1rem;
	font-family: 'Microsoft Yahei';
	text-align: center;
	color: #666;
}


.goods_list_con{
	height: 17.3rem;
	background-color: #fff;
	margin-top: 0.5rem;
}
.goods_list_con .title{
	height: 2.25rem;

}

.goods_list_con .title h3{
	float: left;
	width: 3.8rem;
	height: 1.0rem;
	font:14px/1rem 'Microsoft Yahei';
	border-left: 0.5rem solid #fbc83d;
	text-indent: 0.5rem;
	color: #fbc83d;
	margin-top: 0.625rem;
}

.goods_list_con .title a{
	float: right;
	width: 3.8rem;
	height: 1.0rem;
	font:14px/1rem 'Microsoft Yahei';
	color: #666;
	margin-top: 0.625rem;
}

.goods_list_con .banner{
	height: 4.5rem;
}
.goods_list_con .banner img{
	display: block;
	height: 4.5rem;
}
.goods_list_con .goods_list{
	height: 9.3rem;
	margin:0.55rem 0 0.7rem 0;
}

.goods_list li{
	position: relative;
	float:left;
	width: 33%;
	border-right: 1px solid #e7e7e7;
}

.goods_list li:last-child{
	border-right: 0;
}

.goods_list li img{
	display: block;
	width: 4.5rem;
	margin: 0 auto;
}

.goods_list li h4{
	width: 4.75rem;
	height: 0.8rem;
	font:14px/0.8rem 'Microsoft Yahei';
	color: #9a9a9a;
	margin: 1.05rem 0 0 0.6rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.goods_list li p{
	width: 4.75rem;
	height: 0.6rem;
	font:12px/0.6rem 'Microsoft Yahei';
	color: #cacaca;
	margin: 1.05rem 0 0 0.6rem;
}

.goods_list li .price{
	width: 4.75rem;
	height: 0.8rem;
	font:14px/0.8rem 'Microsoft Yahei';
	color: #ff632b;
	margin: 1.05rem 0 0 0.6rem;
}

.goods_list li .add{
	position: absolute;
	width: 1.95rem;
	height: 1.7rem;
	right: 0.6rem;
	bottom: 0;
	background: url(../images/icons.png) 0.3rem -26.7rem no-repeat;
	background-size: 3.0rem 42.0rem;
}




.footer{
	position: absolute;
	height: 2.5rem;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
/*	
	这三行的作用是让文字超出盒子部分不换行不裁切，而是以...的形式显示
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
}

.footer li{
	float: left;
	width: 25%;
	height: 2.5rem;
}

.footer li a{
	display: block;
	width: 2.2rem;
	height: 2.5rem;
	background: url(../images/icons.png) 0.5rem -29.8rem no-repeat;
	background-size: 3.0rem 42.0rem;
	margin:0 auto;
}

.footer li:nth-child(2) a{
	background-position: 0.5rem -32.8rem;
}

.footer li:nth-child(3) a{
	background-position: 0.5rem -35.8rem;
}

.footer li:nth-child(4) a{
	background-position: 0.5rem -38.8rem;
}
.footer li a p{
	height: 0.7rem;
	margin: 1.8rem 0 0;
	font: 14px/0.7rem 'Microsoft Yahei';
	text-align: center;
	color: #949392;
}